html{
	font-size:30px;
}
body {
	margin: 0;
}
.header{
	background-color: #2d7053;
	
}
.logo{
	display: inline-block;
	border-radius: 2.8rem;
background-color: rgb(255, 255, 255);
vertical-align:auto;
width: 5.5rem;
height: 5.5rem;
margin:1.5rem;
}
.logo-small{
	display: inline-block;
	border-radius: 2.8rem;
background-color: rgb(255, 255, 255);
vertical-align:auto;
width: 3.5rem;
height: 3.5rem;
margin:1rem;
margin-top: 1.5rem;
}
.heading{
	display: inline-block;
	color:white;
	white-space: pre;
	font-size: 1rem;
	vertical-align: top;
	vertical-align:auto;
margin-top: 1.8rem;
	font-weight:lighter;
}
.burger-menu{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	position: absolute;
right:0;
vertical-align:center;
margin-top: 3rem;

}
.burger-menu-line{
background-color: white;
height: 0.4rem;
width: 2.8rem;
margin:0.5rem;
border-radius: 0.2rem;
}

.call-to-action{
	width: 100%;
	height: 466px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(/img/0325115cfca2f08bd19529e1d4a4396a@1X.png);
  box-shadow: 0px 0px 0px 500px rgba(0, 0, 0, 0.3) inset;

}
.btn a{

	display: inline-block;
	background-color: #cb9223;
	color:white;
	border-radius: 5px;
	font-weight: 300;
	font-size: .8rem;
	width: 11rem;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto; 
	text-align: center;
	padding: 1rem;
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	}

	.container{
		margin-left: 1rem;

	}
	.portrait{
		display: inline-block;
		width: 30%;
		border-radius: 50%;
		margin:2rem 0rem;
	}

	.therapist-text{
		display: inline-block;
		vertical-align:top;
		margin-top: 3.5rem;
		margin-left: 10%;


	}
	.therapist-name{
		vertical-align:top;
		margin-bottom: 1rem;
		font-size:1.2rem;
		
	}

	.job-description{
		vertical-align:top;
		white-space: pre;
		font-size:.8rem;
	}

	p{
		font-size:.8rem;
		margin-top:0;
	}

	h2{
		text-align: left;
		font-size:1.2rem;
		font-weight: 400;
	}

	.reasons-list{
    list-style: none;
		margin-left: 0rem;
padding-left: 0rem;
font-size: .8rem;
	}
	div pre{
		padding:0;
		margin:0;
	}
.footer{
	height: 7rem;
	background-color: #888888;
}
.address{
	width: 10rem;
	color: white;
	font-size: 0.6rem;
	display: inline-block;
	padding:1rem;
text-align: right;
vertical-align: top;
margin-top: 3rem;




}
.contact-info{
	margin-top: 2.4rem;

	vertical-align: top;

	display: inline-block;
	vertical-align:center;
		margin-right: 0;


}
.contact-info a{
	color:white;
	font-size: 0.6rem;
	padding-bottom: 1rem;
	text-decoration: none;
	
}