html{
	font-size: 24px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
	margin: 0px;
}
.header{
	background-image: url("../img/header-bg.png"); 
  background-repeat: no-repeat;
	height: 740px;
}
.logo{
	display: block;
	float: left;
	margin-left: 405px;
	margin-top: 25px;
}
.menu{
	float: right;
	margin-right: 405px;
	margin-top: 30px;
	cursor: pointer;

}
h1{
	color: white;
	font-size: 2rem;
	font-weight: 500;
	white-space: pre;
	text-align: center;
	margin: 0px;
	padding-top: 8rem;
}
header h6{
	color: white;
	font-size: .75rem;
	font-weight: 300;
	text-align: center;
	margin: 0px;
	text-transform: uppercase;
	padding-top: 1rem;

}

.banner{
position: absolute;
width: 1110px;
height: 300px;
left: 405px;
top: 590px;
background: #F7F7F7;
box-sizing: border-box;
padding: 57px 165px;

}

.banner-box{
	display: inline-block;
	width: 190px;
	text-align: center;

}
.twenty-six{
	display: block;
	color: #F7654A;
	font-size: 3rem;
	font-weight: 500;
}
.years{
	display: block;
	color: #000000;
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;

}

.on-market{
	display: block;
	color: #999999;
	font-size: .75rem;
	font-weight: 500;
}
.big-projects{
	color: #404149;
	font-size: 1.5rem;
	font-weight: 500;
	white-space: pre;
	text-align: center;
	margin: 0px;
	padding-top: 9rem;

}
.projects-repeater{
padding-left:375px;
padding-top: 40px;
padding-bottom: 80px;

}
.project{
	width: 380px;
	display: inline-block;
}
.project img{
	padding: 0rem 1.25rem;
}
.red-divider{
	background-color: #F7654A;
	white-space: pre;
	width: 55px;
	height: 6px;
	margin: .6rem 1.25rem;

}
.project-name{
	color: #404149;
	font-size: 1rem;
	font-weight: 500;
	margin-left: 1.25rem;
}
.project p{
	margin-left: 1.25rem;
	font-size: 0.7rem;
	color: #999999;

}
.cta-banner{
	height: 180px;
	background-color: #F7654A;
	position: relative;

}
.cta-banner h2{
	color: white;
	padding-left: 405px;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 1.8rem;
	margin: 0px;


}
.cta-banner h6{
	color: white;
	padding-top:0px;
	padding-left: 405px;
	margin: 0px;
	font-size: .9rem;
}

button>a{
	text-decoration: none;
	color: black;
	font-size: .8rem;
	background-color: white;
	padding: 14px 30px;
	font-weight: 500;
	position: absolute;
	right: 405px;
	top: 75px;

}
button>a>img{
	margin-right: 15px;
}
.services{
	text-align: center;
	padding-top: 100px;

}
h3{
	color: black;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;

}

.service-example{
	display: inline-block;
	background-color: #F7F7F7;
	margin: 15px;
	padding: 60px 90px;
	white-space: pre;
	font-size: .85rem;
	font-weight: 700;
	margin-bottom: 100px;
}
.service-example>img{
	display: block;
	max-width:200px;
	margin: 0 auto;
	margin-bottom: 30px;
	object-fit: cover;
}
.skyscraper-tile{
	height: 814px;
	background-image: url(../img/skyscraper.png);
}
.faq{
	margin: 100px 0px;
}
.faq-main{
	margin-left: 405px;

}

::-webkit-details-marker{
	float: right;
	margin-top: 3px;
}

details{
	padding: 5px 20px;
	border-radius: 7px;
	margin-top: 15px;
	cursor: pointer;
	letter-spacing: 1px;
}

summary{
	font-size: 1rem;
	font-weight: 500;
	color: #F7654A;
}

details p{
	padding: 20px 0px 0px 25px;
	font-size: .7rem;
	color: #999999;
	max-width: 730px;
}
.partners{
	background-color: #404149;
	text-align: center;
}
.partners h3{
	padding-top: 100px;
	color: white;
}
.partners-container{
	padding-bottom: 85px;
}
.partners-container img{
	margin: 15px 30px;
}
.reviews{
	margin:150px 0px;
}
.reviews-container{
	margin: 0 auto;
	max-width:1100px;


}
.review{
	display: inline-block;
	max-width: 350px;

}
.review-block{
	background-color: #F7F7F7;
	padding: 30px;
	font-size: .6rem;
	color: #999999;
	margin: 10px;

}
.author{
	padding: 10px;
	font-size: .7rem;
	font-weight: 600;
}
.author-company{
	color: #F7654A;
}
.contact-section{
	margin: 100px 0px;
}
.contact-info-repeater{
	margin: 0 auto;
	max-width:1225px;
margin-top: 60px;
}
.contact-info-box{
	max-width: 260px;
	vertical-align:top;
	text-align: center;
	font-weight: 600;
	display: inline-block;
	margin: 20px;

}
.contact-info-box>span{
	display: block;
	color: #999999;
	padding: 10px;
}

.contact-info-box>address>p{
	font-style: normal;   
}
.contact-info-box a{
	text-decoration: none;
	color: black;
}
.contact-info-box .mail-address{
color: #F7654A;
}
.contact-info-box p{
	margin-top: 10px;
	white-space: pre;

}
.footer-bottom{
	background-color: #404149;
	font-size: .6rem;
	color: #FFFFFF;
	text-align: center;
height: 85px;
}
.footer-bottom div{
margin: 35px 300px;
	display: inline-block;
	
}