html{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin: 0px;

}
body{
	margin: 0;
	padding: 0;

}
.body{
	background-color: #ECECEC;
}
.main{
	padding-top: 70px;
	padding-bottom: 80px;
	margin: 0 auto;
	width: 80%;
	display: flex;
	height: 800px;	
	margin-bottom: 60px;
}

.aside{
	max-width: 312px;
	height: 800px;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	margin: 30px;
	box-shadow: 0px 4px 4px #a0a0a0;

	}
.aside .button-1{
color: #BEBEBE;
border-radius: 5px;
border-width: 1px;
border-color: #BEBEBE;
border-style:solid;
float: right;
top: 27px;
right: 20px;
padding: 7px;
background-color: white;
cursor: pointer;
}
.personal-info{
	margin-top: 18%;
	margin-left: 5%;
	margin-bottom: 275px;
	font-weight: 500;
}
.info-type{
	padding-bottom: 10px;

}
.info-data{
	color: #A0A0A0	;
	padding-bottom: 20px;
}
.aside a{
	text-decoration: none;
}
address{
	font-style: normal;
}
.aside-bottom-btn{
	display: block;
	margin: 0 auto;
	padding: 15px;
	width: 300px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 1.2rem;
	font-weight: 700;
	box-shadow: 0px 5px 4px #a0a0a0;
	cursor: pointer;
}
.to-order-btn{
	background-color: #04BE00;
}
.exit-btn{
	background-color: #DF0D00;
}
section{
	width:inherit;

}
.section-content{
margin: 30px 0px;
}
.summary{
	padding: 30px;
	background-color: white;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0px 5px 4px #a0a0a0;

}
.your-balance{
	font-weight: 500;
}
.summary span{
	font-size: 2.5rem;
	font-weight: 800;
}
.summary div :nth-child(2){
	color: rgb(168, 167, 167);
}
.summary :nth-child(3){
	font-size: 0.8rem;
}
.points{
	padding: 9px 0px 11px 0px;
}
.order-history{
	background-color: white;
	border-radius: 10px;
}
.order-history h1{
	font-size: 1.4rem;
	font-weight: 800;
	padding: 21px 29px;
}


td, th{
	height: 35px;
	padding: 10px 0px;
}
.table-heading{
	border: 1px solid grey;
  border-radius: 20px;
	padding: 10px 0px;
}
.table{
	text-align: center;

}
.columns{
	display: flex;
	padding-bottom: 11px;
}
.coltype{
	width: 14.2%;
}
.table-body{
	background-color: #F3F3F3;
	position: relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 2px 4px #a0a0a0;
	padding-bottom: 40px;
	overflow: auto;

}
.row-type-container{
	margin: 24px 0px 16px 29px;
}

.row-type{
	background-color: #EAEAEA;;
	max-width: 170px;
	padding: 10px 10px;
	border-radius: 20px;
	color: #757575;
	font-size: .8rem;
	box-shadow: 0px 2px 4px #a0a0a0;
	cursor: pointer;

}
.order-row{
	background-color: white;
	display: flex;
	border-radius: 10px;
	max-width: 98%;
	margin: 0px auto;
	box-shadow: 0px 1px 4px #a0a0a0;
	font-weight: 500;
	margin-bottom: 15px;

}
.order-row>div{
	width: 14.2%;
	padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.order-row>div>span{
	display: block;
}
.order-number{
	color: rgb(83, 83, 255);
}
.status-ontheway{
	color:#F58020;
	font-weight: 800;
}
.status-delivered{
	color: #69A042;
	font-weight: 800;

}
.footer{
	height: 100px;
	color: white;
	background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}

.footer-links{
	float: left;
	margin: 39px 27px;
}
.footer-links:first-of-type{
	margin-left: 250px;
}
.footer-links>a{
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
	font-weight: 500;

}
.social-bar{
	float: right;
	display: flex;
	margin: 30px;
	margin-right: 190px;
}
.social-btn{
	height: 40px;
	width: 40px;
	margin-right: 18px;
	border-radius: 50%;
}
.social-btn>img{
	padding: 11px 0px 0px 12px;

}
#tg-btn{
	padding: 11px 0px 0px 9px;

}
.tg-bg{
	background-color: #2F89CE;
}
.fb-bg{
	background-color: #4E6297;
}
.ig-bg{
	background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}