html{
	font-size: 20px;
	margin-left: 8%;
	margin-right: 8%;
}

.logo{
	font-size: 3.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.logo span{
	color: #4bcaff;
}
.logo a{
	text-decoration: none;
	color:black;

}
ul.nav {
  padding-left: 0px;
	background-color: #35444f;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
}
ul.nav > li:hover {
  background-color: #222f3a;
	outline: 1px solid rgb(255, 255, 255);
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
	display:inline-block;
	padding: .8rem 1.5rem;
	font-size: 1.1rem;
}

.container{
	height: 800px;
	margin-bottom: 2rem;
}
.left-section{
width: 20%;
float: left;
position: relative;
vertical-align: top;


}
ul.nav-left{
	display:inline-block;
	font-size: 1.1rem;
	list-style-type:none;
	outline: 1px solid rgb(0, 0, 0);
padding-left: 0rem;
width: 100%;
}
ul.nav-left > li:hover {
  background-color: #dbdbdb;
	padding-left: 1rem;
}
ul.nav-left > li > a :hover {
	padding-right: 0rem;

}
ul.nav-left > li > a {
  color:black;
  text-decoration: none;
	display:inline-block;
	padding: .8rem 4rem .8rem 2rem;
	
	font-size: 1.2rem;
}
.right-section{
	width: 79%;
	float: right;

}
.logo-img{
	outline: 1px solid rgb(0, 0, 0);
	height: 550px;
	margin: 1rem 0rem 1rem 2rem;
	display: flex;
	justify-content: center;
	
}
.logo-img img{
	padding: 3rem;
}
p.main-text {
	font-size: .9rem;
	padding: 1.5rem 3rem 0rem 3rem;
	margin: 0rem;

}
.footer{
	padding:1rem;

}
ul.nav-footer {
  padding-left: 0px;
	background-color:#b4b7ba;
  text-align: center;
	
}
ul.nav-footer > li {
  display: inline-block;


}
ul.nav-footer > li > a {
  text-decoration: none;
	display:inline-block;
	padding: .8rem 1.5rem;
	font-size: 1.2rem;
	color: black;

}
ul.nav-footer > li > a:hover{
	color:#3181a6;
	text-decoration: underline;     

}
.copyright{
	font-size: 1.2rem;
	float:right;
	padding: .75rem 2rem 0rem 0rem;
}
