* { 
	margin: 0; padding: 0; font-family: 'Montserrat', sans-serif;
  font-size: 16px;}
header, main, .footer {
	width: 62%;
	margin: 0 auto;

	line-height: 1;}

ol, ul {
	list-style: none;}

	header{
		border-bottom: 1px solid #C4C4C4;

	}
.header-container{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		align-items: center;
		gap: 30px;
		padding: 10px;
		}
		.input-geo{
			width: 100%;
			height: 30px;		
			padding: 10px;
			padding-left: 25px;
			border-radius: 5px;
			margin-top: 10px;
			border: 2px solid black;
			background-image: url(/img/location-pin.png);
			background-repeat: no-repeat;
			text-indent: 12px;
			background-size: 25px;
			background-position: 7px 12px; 
			font-weight: 500;
			color: #A1A1A1;
				}

		.input-geo:focus{background-image: none;}
		.input-geo:active{background-image: none;}

		.input-container {
			margin-right: auto;
			margin-left: 5%;

					width: 500px;}
		header button{
			padding: 15px 20px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
			border: none;
border-radius: 5px;	}
.btn-container{
	width: 250px;
	display: flex;
}
.btn-container>button{
	margin-left: 30px;
	color: white;
font-weight: 700;
cursor: pointer;

}
.btn-container>button:nth-child(1) {
background-color: #EF781A;
}
.btn-container>button:nth-child(2) {
	background-color: #00D008;	}
	
.banner{
	border-radius: 10px;
	margin-top: 35px;
	margin-bottom: 35px;
	height: 380px;
	background-color: #FFD086;
	position: relative;
	z-index: -2;
}

.banner-text{
padding-top: 110px;	
padding-left: 60px;
width: 50%;
}
.banner h1{
font-size: 2.25rem;
font-weight: 800;
padding-bottom: 25px;
}
.banner h5{
	font-size: 1.25rem;
	font-weight: 500;

}
.banner img{

position: absolute;
top: 0px;
right: 10px;
z-index:-1;}

.restaurant-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}
.restaurant-header h1{
	font-size: 2.25rem;
	font-weight: 700;
	padding-right: 10px;

}
.subsequent-sections{
	margin-top: 30px;
}
.input-container-restaurant{
width: 500px;
margin-right: 20px;
}

.input-geo-rest{
	width: 100%;
	height: 30px;		
	padding: 10px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	border: none;
	border-radius: 10px;
	background-image: url(/img/search\ icon.png);
	background-repeat: no-repeat;
	text-indent: 35px;
	background-size: 25px;
	background-position: 15px 12px; 
	font-weight: 500;
	color: #A1A1A1;
		}

.input-geo-rest:focus{background-image: none;
border: none;outline: none;}
.input-geo-rest:active{background-image: none;border: none;
outline: none;}

.rest-grid, .stores-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 240px;
	gap: 30px;

}
.rest-grid>div, .stores-grid>div{
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	position: relative;
	background-position: center;
	background-position-y: -2px;
	z-index: 1;
	transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	cursor: pointer;

}
.rest-grid>div:hover, .stores-grid>div:hover{
	transform: scale(.9,.9);
}

.rest-grid>div::before, .stores-grid>div::before {
	bottom: 0px;
  position: absolute;
  content: '';
  width: 100%;
  height: 90px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	z-index: -1;
}

.ribbon{
	font-size: .8rem;
	color: white;
	font-weight: 800;
	padding: 11px 21px;
	margin: 10px;
	border-radius: 5px;
	width: fit-content;


}
.popular{
	background-color: #FF800C;
}
.delivery-offer{
	background-color: #FF0C0C;
	margin-bottom: -13px;
}
.item-offer{
	background-color: #FF0000;
}
.inactive{
	visibility:collapse;
}
.grid-bottom{
	z-index: 10;
	margin-top: 100px;
	padding: 10px 0px 10px 20px;

}
.grid-bottom>span{
	display: block;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 12px;
	margin-top:10px;
}
.grid-bottom>div{
	display: inline-block;
	width: fit-content;
	padding: 6px;
	padding-left: 20px;
	border-radius: 5px;
	font-weight: 600;
	font-size: .9rem;
}
.time-badge{
	background-color: #FE7D34;
	background-image: url("../img/hourglasses.png");
	background-repeat: no-repeat;
	text-indent: 12px;
	background-size: 15px;
	background-position: 10px 5px; }
.delivery-badge{
	background-color: #00D008;

	background-image: url("../img/deilivery-icon.png");
	background-repeat: no-repeat;
	text-indent: 12px;
	background-size: 20px;
	background-position: 7px 5px;
}
.rest-grid>div:nth-child(1){
	background-image: url("../img/rest-img/pic.png");
}
.rest-grid>div:nth-child(2){
	background-image: url("../img/rest-img/pic\ \(1\).png");
}
.rest-grid>div:nth-child(3){
	background-image: url("../img/rest-img/pic\ \(2\).png");
}
.rest-grid>div:nth-child(4){
	background-image: url("../img/rest-img/pic\ \(3\).png");
}
.rest-grid>div:nth-child(5){
	background-image: url("../img/rest-img/pic\ \(4\).png");
}
.rest-grid>div:nth-child(6){
	background-image: url("../img/rest-img/pic\ \(5\).png");
}
.rest-grid>div:nth-child(7){
	background-image: url("../img/rest-img/pic\ \(6\).png");
}
.rest-grid>div:nth-child(8){
	background-image: url("../img/rest-img/pic\ \(7\).png");
}
.rest-grid>div:nth-child(9){
	background-image: url("../img/rest-img/pic\ \(8\).png");
}
.rest-grid>div:nth-child(10){
	background-image: url("../img/rest-img/pic\ \(9\).png");
}
.rest-grid>div:nth-child(11){
	background-image: url("../img/rest-img/pic\ \(10\).png");
}
.rest-grid>div:nth-child(12){
	background-image: url("../img/rest-img/pic\ \(11\).png");
}
.rest-grid>div:nth-child(13){
	background-image: url("../img/rest-img/pic\ \(12\).png");
}
.stores-grid>div:nth-child(1){
	background-image: url("../img/stores-img/pic\ \(13\).png");
}
.stores-grid>div:nth-child(2){
	background-image: url("../img/stores-img/pic\ \(14\).png");
}
.stores-grid>div:nth-child(3){
	background-image: url("../img/stores-img/pic\ \(15\).png");
}
.stores-grid>div:nth-child(4){
	background-image: url("../img/stores-img/pic\ \(16\).png");
}

footer{
	height: 100px;
	background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
	margin-top: 100px;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items:center;
	height: 100px;
}
.nav ul{
	list-style: none;}

.nav li{
	display:inline-block;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	margin: 13px;
}
.social-buttons button{
	width: 40px;
	height: 40px;
	border: none; 
	border-radius: 50px;
	margin: 9px;


}
.social-buttons img{
	width: 20px;
	cursor: pointer;
}
.tg-btn{background-color: #2F89CE;}

.tg-btn img{
	height: 17.5px;
	transform: translate(-2px, 2px);
}
.fb-btn{background-color: #4E6297;}

.fb-btn img{transform: translate(0px, 2px);}
.inst-btn{
	background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);

}
.inst-btn img{
	transform: translate(0px, 2px);

}
@media all and (max-width: 1000px){
	.banner img{
		display:none;
	}
}
@media all and (min-width: 1000px) and (max-width:1500px){
	.banner-text{
		text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);

	}
}
@media all and (max-width: 1200px){
	.rest-grid, .stores-grid{
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 260px;
	}
	.grid-bottom>span{
		margin-top:20px;
		margin-bottom: 5px;
	}
	.nav li{
		font-size: .9rem;
	}
	header, main, .footer{
		width: 75%;
	}
}
@media all and (max-width: 820px){
	.item-offer{
		margin-bottom: -10px;
	}
}
