body{
	text-align:justify;
	padding-top: 50px;
  padding-right: 500px;
  padding-bottom: 50px;
  padding-left: 500px;

}
h1{
	font-weight: normal;
}
h2{
	font-weight: normal;
}
h6{
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 1em;

	font-weight: normal;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}
