html{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;	
	color: #354657;

}
body{
	margin: 0;
	
}
.main{
	width: 70%;
	margin: 0 auto;
}
.main h1{
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 17px;
	border-bottom: 1px solid #E2E2E2;;
	margin-bottom: 60px;
}
.container{
	margin-bottom: 100px ;
	display: flex;
	
}
.main h3{
	font-size: 1.2rem;
	padding: 0px 70px 0px 0px;

}
.aside{
margin-right: 2%;
width: 43%;
}
.section{
	width: 90%;
}
.login-signup{
	background-color: #F0F2F5;
	padding:0px 0px 30px 20px;
	margin-bottom: 30px;
	overflow: auto;
}
.personal-info{
	background-color: #F0F2F5;
	padding:0px 0px 30px 20px;
	overflow: auto;
}

.personal-info label{
	display: block;
	font-size: .8rem;
	margin-top: 20px;
	margin-bottom: 10px;
	}
.personal-info input, select{
	width: 90%;
	height: 30px;
	color: #3546578a;;
	
	border: 1px solid #B6B6B6;
	border-radius: 3px;
	padding: 5px 0px 5px 10px;
	background-color: white;
	outline: none;
}
input::-webkit-input-placeholder {
	opacity: .5; 
}
.personal-info select{
	width: 93%;
	height: 43px;

}

.delivery-method{
	background-color: #F0F2F5;
	padding:0px 0px 30px 20px;
	margin-bottom: 30px;
	overflow: auto;
}

table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 30px;
}
thead{
	background-color: #F0F2F5;
	text-transform: uppercase;
	font-weight: 700;
	overflow: auto;

}
th{
	padding: 15px 2%;
	
}
td{
	padding: 6px;
}
th:nth-of-type(3){
	width: 20%;
}
th:nth-of-type(2){
	width: 20%;
}

.item-counter{
	text-align: center;
	width: 20%;
	height: 28px;
	border: 2px solid #E9E9E9 ;
	outline: none;
	border-radius: 3px;
}
.button-reset{
	color: #946fd300;
	background-color: #946FD3;
	border: none;
	height: 35px;
	width: 18%;
	margin: 0px 10px;
	background-image: url(../img/reload\ 1.svg);
	background-repeat: no-repeat;
	background-position:center;
	border-radius: 3px;

}
.button-remove{
	color: #946fd300;
	display: inline-block;
	background-color: #F83737;
	border: none;
	height: 35px;
	width: 18%;
	margin-top: 0px;
	background-image: url(../img/Vector.png);
background-repeat: no-repeat;
background-position:center;
border-radius: 3px;
}
.cart-summary{
	text-align: right;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 700;
}
.cart-summary-number{
	text-align: left;
	padding: 0;
	margin: 0%;
}

.delivery{
	background-color: #FAFAFA;
}
.final-form{
	background-color: #F0F2F5;
	padding: 20px;
	padding-top: 1px;
	height: 360px;
}
.comments{
	display: block;
	width: 98%;
	min-height: 100px;
	margin: 10px 0px;
	border-radius: 3px;
	border: 2px solid #E9E9E9 ;
	outline: none;
	color: #ADA8A8;
	font-size: .8rem;
	font-family: 'Raleway', sans-serif;
	overflow: auto;
}
.final-form>button{
	display: block;
	float: right;
	margin-top: 20px;
	background-color: #946FD3;
	font-weight: 700;
	color: white;
	border: none;
	border-radius: 50px;
	height: 50px;
	width: 200px;
	cursor: pointer;
}
header{
background-color: #F8F4FC;
width: 100%;

}
.header{
	padding: 10px;
	display: flex;
	margin: 0 auto;
	width: 70%;

}
.header ul{
	list-style: none;

}
footer{
	border-top: 1px solid #E2E2E2;
}
.footer{
	width: 70%;
	margin: 0 auto;
	padding: 40px;
	display: flex;
}

.nav-btn{
	display: inline-block;
	list-style: none;
	text-decoration: none;
	font-weight: 700;
	color: #354657;;
	padding-left: 40px;
}
.social-btns, .header-btns{
	margin-left: auto;

}
.social-btn {
border: none;
background-color: rgba(255, 255, 255, 0);
padding: 5px;
cursor: pointer;
transform: translateY(5px);
}
.header-btns .social-btn{
	padding: 10px;
}

.breadcrumb-container{
	margin-left: 13%;

}
ul.breadcrumb {
  padding-bottom: 10px;
  list-style: none;

}

ul.breadcrumb li {
  display: inline;
  font-size: 0.8rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #626262;
  content: "\2192";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #626262;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
ul.breadcrumb li img:hover {
  background-color: #01447e31;
  text-decoration: underline;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

input[type='radio']:after {
	width: 11px;
	height: 11px;
	border-radius: 15px;
	position: relative;
	background-color: #F0F2F5;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid #946FD3;
}

input[type='radio']:checked:after {
	width: 11px;
	height: 11px;
	border-radius: 15px;
	position: relative;
	background-color: #946FD3;
	content: '';
	left: -1px;
	top: -1px;;
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
	box-shadow: 0px 0px 0px 1px #946FD3;
}
