body{
	margin: 0;
}
.header{
	height: 120px;
	background-color: #F8F4FC;
}
.header-items-container{
	width: 80%;
	margin: 0 auto;
	display: flex;
	padding: 11px;


}
.logo{
}
.nav>a{
	display: block;
	float: left;
	text-decoration: none;
	list-style-type: none;
	margin: ;
}
.nav{
	
}
