	html{
		font-size: 16px;
text-transform: uppercase;
	}
	
	table, th, td {
		border-collapse: collapse;
		text-align: center;
	}
	th,td{
		padding:1rem;
		height: 40px;
		width: 265px;
		color:#484848;
		border-right:2px solid #e3e3e3;
	}
	td img{
		height: 1rem;
		padding-right: .2rem;
	}
	table{
		border: 1px solid #000000;
		border-width: 1rem;
		border-color: #3a4965;
	}
	thead th{
		border:none;
		padding:.7rem;
	}
	
thead td{
	padding:.7rem;

}
	tr:nth-child(odd) {background-color: #f2f2f2;}
	tr:nth-child(even) {background-color: #e3e3e3;}
	.thead tr{
		background-color: #fafafa;
	}

	th span{
		font-size: 1.5rem;
	}
.integer{
	font-size: 3rem;
	font-weight: bold;
}
.decimal{
	display: inline-block;
  vertical-align: top;
	font-size: 1.3rem;
	font-weight: bold;
	padding-top: .4rem;
}
.per-month{
	display: inline-block;
	position:relative; 
	right:30px;
}
	tfoot td a{
		color:white;
		
	}
	tfoot td{
		height: 5rem;
	}
	.btn a{

		display: inline-block;
		background-color: #cb9223;
		color:white;
		border-radius: 5px;
		font-weight: 300;
		font-size: .8rem;
		width: 11rem;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 auto; 
		text-align: center;
		padding: 1rem;
		box-shadow: inset 0  -6px rgba(0, 0, 0, 0.3);
	
	
		}
		.standard{
			background-color: #89c331;
			color: white;
	
		}
		.ultimate{
			background-color: #f04a56;
			color: white;
		}
		.premium{
			background-color: #20807c;
			color: white;
	
		}
		.btn-contact a {
			display: inline-block;
			background-color: #484848;
			color:white;
			border-radius: 5px;
			font-weight: 300;
			font-size: .8rem;
			width: 11rem;
			text-transform: uppercase;
			text-decoration: none;
			margin: 0 auto; 
			text-align: center;
			padding: 1rem;
			box-shadow: inset 0  -6px rgba(0, 0, 0, 0.3);
		}
	
	.btn-ultimate a {
		display: inline-block;
		background-color: #f04a56;
		color:white;
		border-radius: 5px;
		font-weight: 300;
		font-size: .8rem;
		width: 11rem;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 auto; 
		text-align: center;
		padding: 1rem;
		box-shadow: inset 0  -6px rgba(0, 0, 0, 0.3);

	}
	.btn-premium a {
		display: inline-block;
		background-color: #20807c;
		color:white;
		border-radius: 5px;
		font-weight: 300;
		font-size: .8rem;
		width: 11rem;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 auto; 
		text-align: center;
		padding: 1rem;
		box-shadow: inset 0  -6px rgba(0, 0, 0, 0.3);

	}

	