html{
	color: white;
	font-size: 16px;

	
}
header{
	position:relative;
	}
body{
	background-image: url(../img/background@1X.png);
  background-size:cover;
	background-repeat: no-repeat;
	margin: 0;
	}
.color-overlay{
	background: black;
	opacity: .7;
	z-index: -1;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
@media (max-width: 1336px){
	.color-overlay{
		height: 108%;

	}
}
.logo-name{
	display: inline-block;
	padding-left: 4%;
	font-weight:bold;
}
@media (max-width: 1336px){
	.logo-name{
		display: inline-block;
		padding-left: 4%;
		font-weight:bold;
		margin-top: 3%;
	}
	
}

.logo-name::before{
	content: '';
	display: inline-block;
	background-image: url(../img/logo@1X.png);
	background-repeat: no-repeat;
	width:45px;
	height: 45px;
	position:absolute;
	left: 22%;
	top: 66%;
}
.logo-name:hover::before{
	background-image: url(../img/hover-logo.png);
}
.logo-name:hover{
	color: #f26522;
	cursor: pointer;
}
@media (max-width: 1336px){
	.logo-name::before{
		content: '';
		display: inline-block;
		background-image: url(../img/logo@1X.png);
		background-repeat: no-repeat;
		width:45px;
		height: 45px;
		position:absolute;
		left: 10%;
		top: 66%;
	}
	}
.logo-name span{
	display: block;
}
.logo{
padding:5% 0% 0% 22%; 
}
@media (max-width: 1336px){
	.logo{
		padding-left: 11%;
	}
}
.logo-name .milan{
	font-size: 1.5rem;
}

.features-container{

	margin: 0 auto;
	max-width: 60%;
	overflow: auto;
}
@media (max-width: 1336px) { 	
	.features-container{
		max-width: 85%;
	}
}
.features-container div:hover .feature-name{
color: #f26522;
}
.feature{
	max-width: 27%;
	float: left;
	padding: 3% 3%;
	align-items: center;
	position: relative;
}
.feature img{

	border: 2px solid white;
	
	border-image: 
	
	linear-gradient(
		to bottom, 
		rgb(255, 255, 255), 
		rgba(0, 0, 0, 0)
	) 1 1%;
}
.hover-cta{
	height: 20%;
	width: 82%;
  transform:translate(9px);
	background-color: #f26522;
	visibility: hidden;
	position: absolute;
	bottom: 22%;
	opacity: 0;

}
@media (max-width: 1336px)  {
	.hover-cta{
		width: 83%;
	}	
}
.feature>.hover-cta>span{
	color: white;
}
.feature :hover .hover-cta{
	overflow: visible;
	visibility: visible;
	display: block;
	transition: opacity .5s linear;  
  transform:translate(0); 
  opacity: 1;

}	
.hover-cta span{
	display: block;
}
.hover-cta .from{
	position: absolute;
	left: 10%;
	top: 10%;
	font-size: .8rem;
}
.hover-cta .price{
	position: absolute;
	left: 10%;
	top: 30%;
	font-size: 1.5rem;

}
.hover-cta .view-details{
	position: absolute;
	right: 10%;
	top: 35%;
	font-size: 1rem;
	white-space: pre;

}
.contact-info{
	position: absolute;
	right: 46vh;
	top: 10vh;
	text-align: right;

}
 a{
	text-decoration: none;
	color: white;
}
@media (max-width: 1336px) { 	
	.contact-info{
		right: 20vh;

	}

}

.contact-info span{
	display: block;
	font-size: 1.2rem;
}


.feature span{
	display: block;
	text-align: center;
	font-size: 1.2rem;
	padding-top: 0.4rem;

}

.footer{
	text-align: center;
	margin-top: 3%;
}
@media (max-width: 1336px) { 	
	.footer{
margin: 2%;	}

}